* {
  margin: 0;
  padding: 0;
}

.main-div {
  border: 3px solid black;
  margin: 3% 28%;
  padding: 0%;
}

#headline {
  padding: 1% 14%;
  background-color: #eae5e5;
  font-family: sans-serif;
}

img {
  height: 202px;
  width: 308px;
}

#price {
  font-weight: bolder;
  font-family: sans-serif;
}

p#shipping {
  font-size: x-small;
  font-family: fangsong;
  color: gray;
}

h4 {
  padding: 10px 0px 0px;
  font-family: sans-serif;
  font-size: 14px;
}

a {
  /* text-decoration: none; */
  color: black;
  font-family: sans-serif;
  font-size: 14px;
}

h3 {
  padding: 14px 0px;
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: square;
  padding: 0px 19px;
  font-size: 14px;
  /* font-weight: 100; */
  font-family: sans-serif;
}

li {
  padding: 4px 0px;
}

.key {
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding: 1% 41%;
  font-size: 17px;
}
